
<head>
  <link href="https://fonts.googleapis.com/css?family=Abel|Grand+Hotel" rel="stylesheet">
</head>

<style>
  html, body {
    background-color: #CEE9CD;
    font-family: 'Abel', sans-serif;
    margin: 0px;
    padding: 0px;
  }

  .container {
    display: table;
    width: 100%;
    height: 100%;
    top: 0px;
  }
  .left {
    left: 0px;
    width: 50%;
    position: absolute;
    overflow: hidden;
  }

  .left img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;

  }
  .right {
    right: 0px;
    width: 50%;
    margin-top: 1%;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }

  .right img {
    max-width: 50%;
    bottom: 0px;
    position:fixed;
    left: 50%;
  }

  .content {
    line-height: 2;
  }

  h1 {
    font-family: 'Grand Hotel', cursive;
    color: #00444E;
    font-size: 80px
  }

  h2 {
    color: #00444E;
    font-size: 15px
  }
  .field-email, .field-password, .field-username, .field-password-confirm {
    text-transform: uppercase;
    font-size: 25px;
    color: #00444E;
  }

  .field-password-confirm {
    margin-bottom: 60px;
  }
  .button {
    background-color: #00444E;
    color: white;
    border-radius: 50px;
    padding: 12px 75px;
    font-size: 30px;
  }

  .email {
    padding-right: 125px;
  }

  .password {
    padding-right: 72px;
  }

  .username {
    padding-right: 72px;
  }

  .confirm {
    padding-right: 4px
  }

  .emailbox, .passwordbox, .usernamebox, .confirmbox {
    font-size: 25px;
    border-style: none;
    background-color: white;
  }


</style>

<section class = "container">
  <div class = "left">
    <img src= "https://drive.google.com/uc?export=view&id=1FcvLL9IxsuFJX4rhMbIBfOyFemxvsSuX" alt = "sorry the image isn't working">
  </div>
  <div class = "right">
    <h1>dailies</h1>
    <h2>Already have an account? <%= render "devise/shared/links" -%></h2>
    <div class = "content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class = 'field-username'>
          <%= f.label :username, :class => 'username'%>
          <%= f.text_field :name, size: 20, class: 'form-control', :class => 'usernamebox' %>
        </div>
        <div class="field-email">
          <%= f.label :email, :class => 'email' %>
          <%= f.email_field :email, size: 20, autofocus: true, autocomplete: "email", :class => 'emailbox' %>
        </div>

        <div class="field-password">
          <%= f.label :password, :class => 'password' %>
          <%= f.password_field :password, size: 20, autocomplete: "new-password", :class => 'passwordbox' %>
<!--                     <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %> -->
        </div>

        <div class="field-password-confirm">
          <%= f.label :pw_confirmation, :class => 'confirm' %>
          <%= f.password_field :password_confirmation, size: 20, autocomplete: "new-password", :class => 'confirmbox' %>
        </div>

        <div class="actions">
          <%= f.submit "SIGN UP", :class => 'button' %>
        </div>

      <% end %>
    </div>
  </div>
</section>


<%-# = render "devise/shared/links" #-%>

